body{
	 background-color: #caced3;
	 font-family: cursive;
	 font-size: 20px;
}
button{
	border-radius: 8px;
	padding: 15px;
	color: #244d72;
}
button:hover{
	background-color: #add8ff ;
}
